iframe#beagle-sidebar {
  background-color: transparent;
  border: 0 none transparent;
  color: #000;
  display: block;
  height: calc(100vh);
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  z-index: 2147483647;
}
